

#navbar{
	width:960px;
	margin-left:400px;
	margin-top:100px;
    

}

#navbar #holder {
	height:61px;
	border-bottom:1px solid #000;
	width:800px;
    padding-left:25px;

}

#navbar #holder ul {
	list-style:none;
`	margin:0;
	padding:0;

}

#navbar #holder ul li a {
	text-decoration:none;
	float:left;
	margin-right:5px;
	font-family: "Arial Black", Gadget, sans-serif;
	color:#808080;
	border:1px solid #000;
	border-bottom:none;
	padding:20px;
	width:105px;
	text-align:center;
	display:block;
	background:#00308F;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
    -webkit-border-radius-topleft:15px;
    -webkit-border-radius-topright:15px;


}

#navbar #holder ul li a:hover {
	background:#808080;
	color:#FFF;
	text-shadow:1px 1px 1px #000;



}

#holder ul li a#onlink {
	background:#FFF;
	color:#000;
	border-bottom:1px solid #FFF;
	 

}

#holder ul li a#onlink:hover {
	background:#FFF;
	color:#00308F;
	text-shadow:1px 1px 1px #000;
	

}
